h1{
    color: orange;
}

.img{
    width: 150px;
}

.tables{
    display: flex;
    justify-content: center;
    align-items: center;
}

#orderd{
    color: green;
}

#isNotordered{
    color: red;
}