{% extends "fruit_basket/base.html" %}
{% load static %}

{% block content %}
<div>
    <h2 id="orderd">Bestellt</h2>
      <ul>
        {% for fruit in fruits %}
            {% if fruit.isOrdered %}
                <li>{{ fruit.name }}</li>
                <li>
                    <img class="img" src="{% static 'fruit_basket/img/'|add:fruit.name|lower|add:'.jpg' %}" alt="{{ fruit.name }}" width="150">
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div>
    <h2 id="isNotordered">Noch nicht bestellt</h2>
    <ul>
        {% for fruit in fruits %}
            {% if not fruit.isOrdered %}
                <li>{{ fruit.name }}</li>
                <li>
                    <img class="img" src="{% static 'fruit_basket/img/'|add:fruit.name|lower|add:'.jpg' %}" alt="{{ fruit.name }}" width="150">
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

    
{% endblock content %}
